.Cards {
  display: -ms-grid;
  display: grid;
  grid: auto/repeat(auto-fit, 220px);
  grid-gap: 1em;
  margin: 3em auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 320px;
}

@media only screen and (min-width: 501px) and (max-width: 959px) {
  .Cards {
    grid: repeat(2, 1fr)/repeat(2, 220px);
    margin: 0 auto;
    padding: 2em 0;
  }
}

@media only screen and (max-width: 500px) {
  .Cards {
    grid: repeat(4, 70px)/260px;
    margin: 0 auto;
    padding: 2em 0;
    grid-gap: 1em;
  }
}

.Cards .--card--design {
  background: #fff;
  width: 200px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  cursor: pointer;
  padding: 0.5em;
}

@media only screen and (min-width: 501px) and (max-width: 959px) {
  .Cards .--card--design {
    display: -ms-grid;
    display: grid;
    grid: auto / 1fr auto auto;
    width: 200px;
    height: 140px;
    padding: 0em;
  }
  .Cards .--card--design:hover, .Cards .--card--design:focus, .Cards .--card--design:active {
    grid: 3em auto / 0% auto;
  }
  .Cards .--card--design:hover h3, .Cards .--card--design:focus h3, .Cards .--card--design:active h3 {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    padding-left: 1em;
  }
  .Cards .--card--design:hover .--card--desc, .Cards .--card--design:focus .--card--desc, .Cards .--card--design:active .--card--desc {
    width: 100%;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    padding-left: 1em;
  }
}

@media only screen and (max-width: 500px) {
  .Cards .--card--design {
    display: -ms-grid;
    display: grid;
    grid: auto / 70px 190px;
    width: 260px;
    height: 70px;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0.5em 2em 0 2em;
    border-radius: 2px 2px 2px 30%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .Cards .--card--design:hover .--card--desc, .Cards .--card--design:focus .--card--desc, .Cards .--card--design:active .--card--desc {
    display: block;
    position: absolute;
    width: 196px;
    height: 90px !important;
    padding: 1em;
    margin: auto 0;
    top: 0;
    left: 60px;
    z-index: 3;
  }
  .Cards .--card--design:hover h3, .Cards .--card--design:focus h3, .Cards .--card--design:active h3 {
    display: none;
  }
}

.Cards .--card--design:hover .--card--desc {
  height: 50%;
  font-size: calc(0.7rem + 0.1vw);
}

.Cards .--card--design .--card--bgimage {
  background-size: cover;
  height: 280px;
}

@media only screen and (min-width: 501px) and (max-width: 959px) {
  .Cards .--card--design .--card--bgimage {
    height: 140px;
    -ms-grid-column: 1;
    grid-column: 1;
    background-position: center center;
  }
}

@media only screen and (max-width: 500px) {
  .Cards .--card--design .--card--bgimage {
    height: 70px;
    width: 70px;
    border: 6px solid #fff;
    border-radius: 50%;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.Cards .--card--design h3 {
  padding: 0;
  font-size: calc(0.9rem + 0.3vw);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media only screen and (min-width: 501px) and (max-width: 959px) {
  .Cards .--card--design h3 {
    padding-top: 0.5em;
    -ms-grid-column: 2;
    grid-column: 2;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
}

@media only screen and (max-width: 500px) {
  .Cards .--card--design h3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 0.5em;
  }
}

.Cards .--card--design .--card--desc {
  font-weight: 100;
  font-size: 0;
  padding: 0 0.5em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media only screen and (min-width: 501px) and (max-width: 959px) {
  .Cards .--card--design .--card--desc {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media only screen and (max-width: 500px) {
  .Cards .--card--design .--card--desc {
    display: none;
    position: absolute;
  }
}
/*# sourceMappingURL=card.css.map */