$desktopwifi: 990px;

@mixin wifiResponse {
  @media (max-width: $desktopwifi) {
    @content;
  }
}
.--detailinfo--container {
  width: 100vw;
  position: relative;

  .--detallinfo--nav {
    width: 100%;
    height: 3.2em;
    border-bottom: 1px solid rgb(201, 199, 199);
    padding: 1em 2em;
  }
  .--detailinfo--body {
    width: 100%;
    position: relative;
    margin: 1em;
  }
}

.--detailinfo--header {
  margin: 1em 1em 2em 1em;
  .--detailinfo--title {
    font-size: calc(1rem + 0.6vw);
  }

  .--detailinfo--desc {
    font-size: calc(0.8rem + 0.2vw);
    width: 90%;
  }

  .--detailinfo--desc--small {
    width: 90%;
    font-size: calc(0.75rem + 0.1vw);
    color: var(--point--gray);
  }
}

.--detail--content {
  display: grid;
  grid: auto / 2.5fr 1fr;

  .--map--container {
    width: 100%;
    height: 70vh;
    position: relative !important;
    grid-column: 1;
    @include wifiResponse {
      width: 93%;
      grid-row: 1;
    }
  }
  .--detail-content--opt {
    width: 100%;
    grid-column: 2;
    @include wifiResponse {
      width: 96%;
      padding-top: 1em;
      grid-column: 1;
      grid-row: 2;
    }
  }

  @include wifiResponse {
    grid: 2.5fr auto / auto;
  }
}

.--detail--content--fold {
  position: fixed;
  color: var(--point--gray);
  z-index: 3;
  font-size: 1.8rem;
  left: 0.5em;
  top: 50vh;
  cursor: pointer;

  @include wifiResponse {
    display: none;
  }

  &:hover {
    color: var(--point--pink);
  }
}

.--detail--content--even--fold {
  display: flex;
  transition: 0.3s ease-out;

  .--detail--content--list {
    width: 0;
    display: none;
  }

  .--detail--content--info {
    width: 100%;
    transition: 0.3s ease-out;
  }
  .--map--container {
    width: 93%;
    height: 70vh;
    position: relative !important;
    transition: 0.3s ease-out;
  }
}

.--detail--content--even {
  display: grid;
  grid: auto / 1fr 1.7fr;

  @include wifiResponse {
    grid: 1fr auto auto/ auto;
  }

  .--detail--content--info {
    grid-column: 2;
    position: relative;
    display: none;
    @include wifiResponse {
      grid-column: 1;
      grid-row: 3;
    }
  }

  .--map--container {
    width: 96%;
    height: 70vh;
    position: relative !important;
    grid-column: 2;
    @include wifiResponse {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .--detail--content--list {
    width: 100%;
    grid-column: 1;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 16em);
    justify-content: center;
    align-content: start;
    position: relative;
    grid-row-gap: 0.2em;

    @include wifiResponse {
      grid-column: 1;
      grid-row: 2;
      grid-template-columns: repeat(auto-fit, 8em);
      justify-content: center;
      padding: 1em 1em 0 0;
      grid-row-gap: 0;
    }

    .--detail--item--selected {
      background: var(--light--yellow);
      &::before {
        content: url(../images/smile-wink-solid.svg);
        position: absolute;
        top: 1em;
        right: 1em;
        width: 1.6em;
        height: 1.6em;
      }
    }

    li {
      margin: 0.5em;
      padding: 0.5em 0.5em 1em;
      justify-content: center;
      align-items: flex-start;
      border: 1px solid rgb(224, 224, 224);
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      font-family: "Nanum Gothic", sans-serif;
      font-family: "Roboto", sans-serif;
      height: 19em;
      position: relative;
      transition: 0.2s ease-in-out;

      @include wifiResponse {
        height: 9em;
        margin: 0.2em;
        padding: 0;
      }

      &:hover,
      &:focus,
      &:active {
        border: 1px solid rgb(189, 189, 189);
        @include wifiResponse {
          background: rgba(0, 0, 0, 0.45);
          img {
            mix-blend-mode: multiply;
          }
          h3 {
            white-space: pre-line;
            overflow: visible;
            top: 0.5em;
          }
        }
      }

      img {
        width: 14em;
        height: 12em;
        object-fit: cover;
        @include wifiResponse {
          width: 100%;
          height: 100%;
        }
      }

      h3 {
        font-size: 1rem;
        margin: 0.5em 0.5em 0.75em;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: rgb(41, 41, 41);

        @include wifiResponse {
          font-size: 0.8rem;
          position: absolute;
          font-weight: 300;
          top: 8.5em;
          left: 0.5em;
          right: 0.5em;
          color: #fff;
        }
      }

      p {
        font-size: 0.85rem;
        margin: 0 0.5em;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include wifiResponse {
          display: none;
        }
      }
    }
  }
}

//for reuse
.--detailinfo--selected--imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(385px, auto));
  grid-column-gap: 1px;
  // grid-auto-rows: 10px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

  @include wifiResponse {
    grid-column-gap: 0;
    margin: 0.2em auto;
  }

  img {
    width: 100%;
  }
}

.--item--desc--icon {
  font-size: calc(0.7rem + 0.1vw);
  color: #fff;
  padding: 0.25em 0.5em;
  text-align: left;
  border-radius: 3px;
  width: 9em;
}

.--item--desc--icon--long {
  width: 100%;
}

.--item--desc--icon--blue {
  background: var(--point--blue);
}

.--item--desc--icon--yellow {
  background: var(--point--yellow);
}

.--item--desc--icon--pink {
  background: var(--point--pink);
}

.--item--desc--icon--gray {
  background: var(--point--gray);
}

.--item--homepage--link {
  cursor: pointer;
  &:hover a {
    color: var(--point--blue);
  }
}

.--detailinfo--selected-container {
  margin: 0 2em;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Roboto", sans-serif;

  @include wifiResponse {
    margin: 0;
  }

  .--detailinfo--selected--desc {
    margin: 0 2em;
    padding-bottom: 2em;

    @include wifiResponse {
      margin: 0 0.5em;
    }

    h3 {
      font-size: calc(1rem + 0.6vw);
    }
    p {
      margin: 0.2em 0 1.5em 0.5em;
      font-weight: 300;
      font-size: calc(0.75rem + 0.2vw);
    }
  }
  .--detailinfo--selected--map {
    width: 89%;
    height: 50vh;
    margin: 1em auto;
    position: relative !important;

    @include wifiResponse {
      width: 92%;
    }
  }
}

.go--home--icon {
  font-size: 2rem;
}
