@import url("https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic|Roboto&display=swap");

:root {
  --point--yellow: #f88f07;
  --point--blue: #0f82ff;
  --point--green: #0fff23;
  --point--dark--green: #005f08;
  --point--pink: #de5b6d;
  --point--red: #860214;
  --point--gray: #585858;
  --light--yellow: #f3ef82;
  --bg--dark--color: #262626;
  --bg--gray--color: #888888;
}

$desktop: 780px;

@mixin respondScreen($media) {
  @if $media == pad {
    @media only screen and (max-width: $desktop - 1) {
      @content;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: #000;
  }

  ul,
  li {
    list-style: none;
  }
}

.App {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &::after {
    content: "";
    background: url(../images/seoul-day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.--greeting--text,
.--greeting--pics--link {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100;
  white-space: nowrap;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  animation-name: textanimation;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 6s;

  @include respondScreen(pad) {
    animation-name: textanimation-pad;
  }

  @keyframes textanimation {
    0% {
      top: 0%;
      font-size: 0;
    }
    100% {
      top: 18%;
      font-size: calc(1.6rem + 2vw);
    }
  }

  @keyframes textanimation-pad {
    0% {
      top: 0%;
      font-size: 0;
    }
    100% {
      top: 12%;
      font-size: calc(1.6rem + 2vw);
    }
  }
}

.--greeting--pics--link {
  animation-name: linkanimation;
  cursor: pointer;

  @include respondScreen(pad) {
    animation-name: linkanimation-pad;
  }

  @keyframes linkanimation {
    0% {
      top: 0%;
      font-size: 0;
    }
    100% {
      top: 28%;
      font-size: calc(0.7rem + 0.4vw);
    }
  }

  @keyframes linkanimation-pad {
    0% {
      top: 0%;
      font-size: 0;
    }
    100% {
      top: 22%;
      font-size: calc(0.8rem + 0.3vw);
    }
  }

  &:hover {
    color: var(--point--green);
  }
}

.--top--image--group {
  width: 100%;
  background: url(../images/seoul-night-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  animation-name: bigimage;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: now;

  @include respondScreen(pad) {
    display: grid;
    grid: 1fr 1fr / repeat(3, auto);
    animation: none;
    height: 40%;
  }

  @keyframes bigimage {
    0% {
      height: 0%;
    }
    100% {
      height: 45%;
    }
  }

  .--top--image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: smallimage;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: 4s;

    @include respondScreen(pad) {
      background-size: cover;
      background-position: center center;
      background-color: rgba(0, 0, 0, 0.3);
      background-blend-mode: multiply;
      animation-name: smallimage-pad;
    }
  }

  @keyframes smallimage {
    0% {
      width: 0px;
      filter: brightness(20%);
    }
    100% {
      width: 20%;
      filter: brightness(100%);
    }
  }

  @keyframes smallimage-pad {
    0% {
      width: 0px;
      filter: brightness(20%);
    }
    100% {
      width: 100%;
      filter: brightness(100%);
    }
  }
}

.--mainmenu--nav {
  width: 100%;
  height: 3.2em;
  border-bottom: 1px solid rgb(201, 199, 199);
  display: grid;
  grid-template-areas: 1fr / auto;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9;

  .--nav--gohome {
    grid-column: 1;
    padding: 0.8em 1.5em;
    i {
      font-size: 1.55rem;
      color: var(--point--gray);

      &:hover {
        color: var(--point--pink);
      }
    }
  }
  .--nav--menulist {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;

    .--selected--menu {
      color: var(--point--dark--green);
      border-bottom: 3px solid var(--point--dark--green);
    }
    li {
      padding: 0.5em;
      margin: 0 1em;
      font-size: 0.9rem;
      &:hover {
        border-bottom: 3px solid var(--point--dark--green);
      }
    }
  }
}
