@import url("https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic|Roboto&display=swap");

$desktop: 660px;
@mixin desktop {
  @media screen and (max-width: $desktop) {
    @content;
  }
}

:root {
  --point--yellow: #f88f07;
  --point--blue: #0f82ff;
  --point--green: #0fff23;
  --point--pink: #de5b6d;
  --point--gray: #585858;
  --bg--dark--color: #262626;
  --bg--gray--color: #888888;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: #000;
  }

  ul,
  li {
    list-style: none;
  }
}

.App {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  &::after {
    content: "";
    background: url(../images/seoul-day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.--greeting--text,
.--greeting--pics--link {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100;
  white-space: nowrap;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  animation-name: textanimation;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 6s;

  @keyframes textanimation {
    0% {
      top: 0%;
      font-size: 0;
    }
    100% {
      top: 18%;
      font-size: 3.6rem;
    }
  }
}

.--greeting--pics--link {
  animation-name: linkanimation;
  cursor: pointer;

  @keyframes linkanimation {
    0% {
      top: 0%;
      font-size: 0;
    }
    100% {
      top: 28%;
      font-size: 1.1rem;
      // color: var(--point--green);
    }
  }

  &:hover {
    color: var(--point--green);
  }
}

.--top--image--group {
  width: 100%;
  background: url(../images/seoul-night-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  animation-name: bigimage;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: now;

  @keyframes bigimage {
    0% {
      height: 0%;
    }
    100% {
      height: 45%;
    }
  }

  @include desktop {
    .top-image {
      display: none;
    }
  }

  .--top--image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: smallimage;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: 4s;
  }

  @keyframes smallimage {
    0% {
      width: 0px;
      filter: brightness(20%);
    }
    100% {
      width: 20%;
      filter: brightness(100%);
    }
  }
}

.--image--gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-auto-flow: dense;
  grid-gap: 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  background: var(--bg--dark--color);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .--image--gallery--card {
    position: relative;

    @for $i from 1 through 450 {
      &:nth-child(#{$i}) {
        $random-size-row: random(2);
        $random-size-col: random(2);
        grid-row: span $random-size-row;
        grid-column: span $random-size-col;
      }
    }

    &:hover {
      .--image--gallery--desc {
        height: 100%;
        display: block;
      }
    }
    .--image--gallery--desc {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-size: 0.8rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      display: none;
      padding: 2em;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li:nth-of-type(1) {
          padding-bottom: 1.5em;
        }
      }
    }
  }
}
